.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #4a7c9c;
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-family: 'Gill Sans MT';
   -fx-font-size: 15;
   -fx-alignment: CENTER;
}
.table-row-cell .table-cell{
  -fx-cell-size: 35;
  -fx-alignment: center;
  -fx-font-family: 'Segoe UI Light';
  -fx-font-size: 15;
  -fx-border-color: transparent;
  -fx-text-fill: black;
  -fx-alignment: CENTER;
}
/*
.table-row-cell:selected {
   -fx-background-color: black;
   -fx-text-fill: white;
}
*/

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #6622CC,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

*/
.chart {
    -fx-padding: 1em;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
*/